.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu:hover {
    display: block;
}

.zindex-40 * {
    z-index: 40 !important;
}

.zindex-50 * {
    z-index: 50 !important;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.xs\:visible {
    display: block;
}

@media (max-width: 640px) {
    .xs\:hidden {
        display: none;
    }
}

@media (min-width: 640px) {
    .xs\:visible {
        display: none;
    }
}

.scroll-blur {}

.post-text {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}