<div class="flex flex-row bg-green-400 shadow-sm rounded p-4 mb-0 mt-8 m-6 fixed right-0 left-0 shadow-2xlr">
    <div class="text-2xl text-gray-900 my-auto w-full">Explore</div>
</div>
<br><br><br><br>
<div id="posts"><%- include('../partials/posts') %></div>
<script>
    postContext = 'user' // can be latest, home, or trending
</script>